body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
div { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span {
    margin-top: 1em;
}
a {
    margin-top: 0.5em;
}
#logo {
    width: 25%;
    margin-top: 3em;
}
#simple {
    text-transform: uppercase;
}
#eit {
    width: 40%;
    margin-top: 1em;
}
#eit-banner {
    margin-top: 0.5em;
    width: 40%;
}